<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

        <bean id="directoryService" class="eu.lifewatch.service.impl.DirectoryService"> 
            <constructor-arg ref="virtuosoRepoManager"/> 
        </bean>
        
        <bean id="metadataRepository" class="eu.lifewatch.service.impl.MetadataRepositoryService"> 
            <constructor-arg ref="virtuosoRepoManager"/> 
        </bean>

        <bean id="virtuosoRepoManager" class="eu.lifewatch.core.impl.VirtuosoRepositoryManager">
            <constructor-arg index="0" value="http://62.217.127.124/"/>
            <constructor-arg index="1" value="1111"/>
            <constructor-arg index="2" value="dba"/>
            <constructor-arg index="3" value="ofi"/>
        </bean>

    </beans>